body {
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header {
    text-align: center;
    padding: 0px;
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: table-cell;
    vertical-align: middle;
}
header div {
    display: inline-block;
    width: 100%;
}
header div h1 {
    color: red;
    font-size: 2.5em;
}
